.contacto_container {
    margin-left: 8%;
    margin-right: 8%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contacto {
    background-image: linear-gradient(180deg, rgb(116, 2, 2), transparent), 
                        url(../images/contacto-indalics.webp);
    background-position: center;
    background-size: contain;
}


.contacto_container_divs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contacto_div_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 20px;
}

.contacto_div_input_item {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
}

.contacto_div_image {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.contacto_div_input_item:placeholder-shown {
    background-color: rgb(196, 201, 199);
}

.contacto_div_input_item:focus {
    background-color: white;
}

.contacto_div_button_item {
    width: 70px;
    height: 35px;
    margin: auto;
    background-color: #870808;
    border: 1px solid white;
    font-weight: 600;
    font-size: 100%;
    color: aliceblue;
    border-radius: 5px;
}

.contacto_div_button_item:hover {
    color: #870808;
    background-color: aliceblue;
    cursor: pointer;
}

.contacto_tittle{
    margin-top: 10px;
    padding: 10px;
}


@media screen and (min-width: 600px) and (max-width:768px) {
    .contacto_div_image {
        width: 100%;
    }

    .contacto_div_input {
        width: 100%;
    }
}

@media screen and (min-width: 425px) and (max-width:600px) {
    .contacto_div_image {
        width: 100%;
    }

    .contacto_div_input {
        width: 100%;
    }
}

@media screen and (max-width:425px) {
    .contacto_div_image {
        display: none;
    }

    .contacto_div_input {
        width: 100%;
    }
}