.menu {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

.menu_list {
    display: flex;
}

.menu_list_item {
    list-style-type: none;
    margin-left: 10px;
}

.menu_list_item a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu_nombre {
    font-size: 110%;
}

@media screen and (min-width: 426px) and (max-width:768px) {
    .menu_list_item:nth-child(1) {
        display: none;
    }

    .menu_list_item:nth-child(2) {
        display: none;
    }

    .menu_list_item:nth-child(3) {
        display: none;
    }

    .menu_list_item:nth-child(4) {
        display: none;
    }

    .menu_list_item:nth-child(5) {
        display: none;
    }
}

@media screen and (max-width:425px) {
    .list {
        display: none;
    }
}