.proyectos{
    transition: all 1s;
}
.proyectos_container {
    margin-left: 8%;
    margin-right: 8%;
}

.proyecto_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.proyecto_item {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    height: 300px;
    margin: 2%;
    border: 1px solid white;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.5s;
    background-color: #870808;
    z-index: 0;
    cursor: pointer;
}

.proyecto_item_tittle {
    transform: translateY(-40px);
    height: 28px;
    opacity: 0.7;
    border-radius: 5px;
    font-size: 150%;
    color: rgb(40, 40, 40);
    background-color: rgb(230, 235, 240);
    border: 2px solid rgb(159, 160, 161);
    transition: all 0.5s;
    margin-bottom: 270px;
}

.proyecto_item_description {
    transform: translateX(-300px);
    height: 50px;
    transition: all 1s;
}

.proyecto_item_image {
    position: absolute;
    z-index: -1;
    width: 270px;
    height: 270px;
    margin-top: 15px;
    margin-left: 15px;
    opacity: 1;
    transition: 1s;
    border: 1px solid black;
    border-radius: 4px;
}

.proyecto_item_image_2 {
    position: absolute;
    z-index: -1;
    width: 270px;
    height: 270px;
    margin-top: 15px;
    margin-left: 15px;
    opacity: 0;
    transition: 1s;
    border: 1px solid black;
}

.proyecto_item:hover .proyecto_item_tittle {
    transform: translateY(0px);
}

.proyecto_item:hover {
    height: 450px;
}

.proyecto_item:hover .proyecto_item_image_2 {
    opacity: 1;
}

.proyecto_item:hover .proyecto_item_description {
    transform: translateX(2px);
}

.proyecto_item_skills_images {
    opacity: 0.8;
    width: 300px;
    height: 70px;
    transform: translateX(-310px);
    transition: 1s;
    display: flex;
    gap: 5px;
    text-align: center;
    justify-content: center;
}

.proyecto_item_skills_use {
    width: 50px;
    height: 50px;
    margin: auto;
}

.proyecto_item:hover .proyecto_item_skills_images {
    transform: translateX(2px);
}

.proyectos_tittle{
    display: flex;
}
.proyectos_tittle h4{
    margin-left: 10%;
}

@media screen and (max-width:425px) {
    .proyecto_item_image {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .proyecto_item_image_2 {
        display: none;
    }

    .proyecto_item_tittle {
        margin-bottom: 0px;
        transform: translateY(-100px);
    }

    .proyecto_item_skills_images {
        margin-top: 50px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .proyecto_item:hover {
        height: 600px;
    }
}