.sobre_mi {
    background: #333333;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #333333, #dd1818);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #333333, #dd1818);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px;
    box-shadow: white 0px 0px 2px 0px ;
}

.sobre_mi_div {
    margin-left: 8%;
    margin-right: 8%;
}

.sobre_mi_titulo {
    font-weight: 400;
}

.sobre_mi_info {
    color: rgb(74, 72, 72);
    font-weight: 400;
    text-align: justify;
    width: 65%;
    font-size: 1.2em;
    color: rgb(201, 181, 181);
    font-weight: 500;
    -webkit-text-stroke: 1px rgb(201, 181, 181);
}

@media screen and (min-width: 426px) and (max-width:768px) {
    .sobre_mi_info {
        width: 100%;
    }
}

@media screen and (max-width:425px) {
    .sobre_mi_info {
        width: 100%;
        font-size: 0.8em;
    }
}