.sobre_mi {
    
    background: radial-gradient(farthest-side at 10% 100%, #0080c0, #009b77);
    padding: 10px;
    box-shadow: white 0px 0px 2px 0px ;
}

.sobre_mi_div {
    margin-left: 8%;
    margin-right: 8%;
}

.sobre_mi_titulo {
    font-weight: 400;
}

.sobre_mi_info {
    color: rgb(74, 72, 72);
    font-weight: 400;
    text-align: justify;
    width: 65%;
    font-size: 1.2em;
    color: white;
    font-weight: 500;
}

@media screen and (min-width: 426px) and (max-width:768px) {
    .sobre_mi_info {
        width: 100%;
    }
}

@media screen and (max-width:425px) {
    .sobre_mi_info {
        width: 100%;
        font-size: 0.8em;
    }
}