.sobre_mi {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(39, 45, 38, 1) 0%, rgba(23, 207, 20, 1) 100%);
    padding: 10px;
}

.sobre_mi_div {
    margin-left: 8%;
    margin-right: 8%;
}

.sobre_mi_titulo {
    font-weight: 400;
}

.sobre_mi_info {
    color: rgb(74, 72, 72);
    font-weight: 400;
    text-align: justify;
    width: 65%;
    font-size: 1.2em;
    color: rgb(201, 181, 181);
    font-weight: 500;
    -webkit-text-stroke:1px rgb(201, 181, 181);
}

@media screen and (min-width: 426px) and (max-width:768px) {
    .sobre_mi_info {
        width: 100%;
    }
}

@media screen and (max-width:425px) {
    .sobre_mi_info {
        width: 100%;
        font-size: 0.8em;
    }
}